/* ---------------------------------- advantage_block_props --------------------------------------------------------- */
.advantage_block_props {
    margin-bottom: 150px;
}
.advantage_props {
    position: relative;
    z-index: 5;
    padding: 50px 85px 70px;
    background: #fff;
    margin-top: -130px;
    border-radius: 5px;
}
.advantage_props:before {
    position: absolute;
    z-index: 0;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 54px 0px rgba(49, 50, 71, 0.14);
}
.advantage_title {
    font-weight: 700;
    margin-top: 0;
}
.advantage_text {
    margin-bottom: 25px;
}

/* ------------------------------------ use_block_props ------------------------------------------------------------- */
.use_block_props {
    position: relative;
    z-index: 1;
    background: url('../img/use_block_bg.jpg') no-repeat 0 0;
    background-size: cover;
    overflow: hidden;
    background-image: -moz-linear-gradient( $backgroundGradient );
    background-image: -webkit-linear-gradient( $backgroundGradient );
    background-image: -ms-linear-gradient( $backgroundGradient );
    /*background-image: -moz-linear-gradient( $backgroundGradient);
    background-image: -webkit-linear-gradient( $backgroundGradient);
    background-image: -ms-linear-gradient( $backgroundGradient);*/
}
.use_block_props:before,
.use_block_props:after {
    position: absolute;

    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.use_block_props:before {
    background-image: -moz-linear-gradient( $backgroundGradientBefore );
    background-image: -webkit-linear-gradient( $backgroundGradientBefore );
    background-image: -ms-linear-gradient( $backgroundGradientBefore );
    opacity: 0.9;
    z-index: 2;
}
.use_block_props:after{
    background-image: -moz-linear-gradient( $backgroundGradientAfter );
    background-image: -webkit-linear-gradient( $backgroundGradientAfter );
    background-image: -ms-linear-gradient( $backgroundGradientAfter );
    opacity: 0.102;
    z-index: 3;
}
.use_block_props > div {
    position: relative;
    z-index: 5;
}
$minUseBlockHeight: 785px;
.use_block_icons {
    position: relative;
    min-height: $minUseBlockHeight;
}
.use_block_center_img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-32%, -34%);
}

.use_block_arrow,
.use_block_graph {
    position: absolute;
    top: 50%;
    left: 50%;
}
.use_block_graph {
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
    background-color: $blockDefaultColor;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

$useBlockRotate_1: rotate(0deg);
$useBlockRotate_2: rotate(83deg);
$useBlockRotate_3: rotate(145deg);
$useBlockRotate_4: rotate(211deg);
$useBlockRotate_5: rotate(277deg);
$useBlockGraphRotate_1: rotate(0deg);
$useBlockGraphRotate_2: rotate(-83deg);
$useBlockGraphRotate_3: rotate(-145deg);
$useBlockGraphRotate_4: rotate(-211deg);
$useBlockGraphRotate_5: rotate(-277deg);
.use_block_arrow.pos_1 {
    transform: translate(-50%, -145px);
    transform-origin: center 145px;
}
.use_block_arrow.pos_2 {
    transform: translate(-50%, -190px) $useBlockRotate_2;
    transform-origin: center 190px;
}
.use_block_arrow.pos_3 {
    transform: translate(-50%, -222px) $useBlockRotate_3;
    transform-origin: center 222px;
}
.use_block_arrow.pos_4 {
    transform: translate(-50%, -218px) $useBlockRotate_4;
    transform-origin: center 218px;
}
.use_block_arrow.pos_5 {
    transform: translate(-50%, -190px) $useBlockRotate_5;
    transform-origin: center 190px;
}

.use_block_graph.pos_1 {
    transform: translate(-50%, -305px);
    transform-origin: center 305px;
}
.use_block_graph.pos_2 {
    transform: translate(-50%, -360px) $useBlockRotate_2;
    transform-origin: center 360px;
}
.use_block_graph.pos_3 {
    transform: translate(-50%, -360px) $useBlockRotate_3;
    transform-origin: center 360px;
}
.use_block_graph.pos_4 {
    transform: translate(-50%, -355px) $useBlockRotate_4;
    transform-origin: center 355px;
}
.use_block_graph.pos_5 {
    transform: translate(-50%, -360px) $useBlockRotate_5;
    transform-origin: center 360px;
}

.use_block_graph.pos_2 i {
    transform: $useBlockGraphRotate_2;
}
.use_block_graph.pos_3 i {
    transform: $useBlockGraphRotate_3;
}
.use_block_graph.pos_4 i {
    transform: $useBlockGraphRotate_4;
}
.use_block_graph.pos_5 i {
    transform: $useBlockGraphRotate_5;
}

.use_block_description {
    display: flex;
    min-height: $minUseBlockHeight;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.use_block_list {
    list-style: none;
    color: $textColor;
    padding: 0;
}

.use_block_list li {
    position: relative;
}
.use_block_list .use_block_list_text {
    opacity: 0.9;
}
.use_block_list .check_mark {
    position: absolute;
    left: -40px;
    top: 0;
}

/* ---------------------------------------- medicine_product -------------------------------------------------------- */
.medicine_product {
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: $backgroundSecond;
}
.medicine_product_title {
    color: $textSecondColor;
    font-size: $lgFont;
    margin: 0;
}
.medicine_product_title > * {
    font-size: $lgFont;
}
.product_block {
    margin-top: 60px;
}
.product_img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 450px;
}
.product_info {
    position: relative;
}
.product_info:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $borderColor;
}
.product_block > div:first-child .product_info:before {
    background-color: initial;
}
.product_title {
    text-transform: uppercase;
    margin: 0 0 5px;
}
.product_buttons {
    margin-top: 90px;
}
.product_buttons {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
}

/* ---------------------------------- medicine_transform ------------------------------------------------------------ */
.medicine_transform {
    display: flex;
    padding-bottom: 55px;
    height: 785px;
    background: url('../img/transform_block_bg.jpg') no-repeat 0 0;
    background-size: cover;
    background-image: -moz-linear-gradient( $backgroundGradient );
    background-image: -webkit-linear-gradient( $backgroundGradient );
    background-image: -ms-linear-gradient( $backgroundGradient );
}
.medicine_transform_content {
    margin: auto;

}
.medicine_transform_title {
    margin-top: 0;
    color: $textColor;
    font-size: $lgFont;
}
.medicine_transform_description {
    color: $textColor;
    margin-bottom: 40px;
}
/* ------------------------------------ medicine_review ------------------------------------------------------------- */
.medicine_review {
    padding-top: 125px;
    padding-bottom: 70px;
    background-color: $backgroundSecond;
}
.medicine_review_person {
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(248, 148, 142);
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.07);
}
.medicine_review_text {
    padding: 45px 55px;
    color: $textColor;
    font-style: italic;
    line-height: 2vmax;
}
.medicine_review_text .dg_text {
    line-height: 2.2vmax;
    font-size: 1.4vmax;
}
.review_author {

}
.medicine_review_description {
    padding: 0 55px;
}
.medicine_review_description_title {
    font-size: 2.2vmax;
    line-height: 3.2vmax;
    margin: 0 0 25px;
}
.medicine_review_description_text {
    line-height: 2vmax;
    margin-bottom: 75px;
}
/* ------------------------------------ medicine_review ------------------------------------------------------------- */
.medicine_subscribe {
    padding-top: 70px;
    padding-bottom: 115px;
    background-color: $backgroundSecond;
}
.medicine_subscribe_block .btn_default {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
}
.medicine_subscribe_types {
    margin-top: 95px;
}
.medicine_subscribe_block {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 6px;
    background-color: #fcfefe;
    box-shadow: 0px 0px 56px 0px rgba(49, 50, 71, 0.04);
}
.medicine_subscribe_block_title {
    font-size: $bigFont;
}
.medicine_subscribe_block_price {
    display: block;
    font-size: $lgFont;
    padding: 30px 0;
    border-radius: 4px;
    background-color: $blockDefaultColor;
    box-shadow: 0px 0px 56px 0px rgba(49, 50, 71, 0.04);
    margin-top: 30px;
    margin-bottom: 30px;
}
.medicine_subscribe_capability {
    list-style: none;
    margin: 0;
    padding: 0;
}
.medicine_subscribe_capability li {
    margin-bottom: 26px;
}
/* ------------------------------------- medicine_facts ------------------------------------------------------------- */
.medicine_facts {
    padding-top: 120px;
    padding-bottom: 370px;
    position: relative;
    z-index: 1;
    background-color: #f07474;
    overflow: hidden;
}
.medicine_facts:before {
    position: absolute;
    content: '';

    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    opacity: 0.102;

    left: 196px;
    top: 6108px;
    width: 2158px;
    height: 1603px;
    z-index: 2;
}
.medicine_facts > .container {
    position: relative;
    z-index: 5;
}
.medicine_facts_title {
    font-size: $lgFont;
    color: $textColor;
    margin-top: 0;
    margin-bottom: 55px;
}
.medicine_facts_outer {
    margin-top: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.medicine_facts_outer_blocknum {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin: auto;
}
.medicine_facts_outer_blocknum:first-child {
    margin-left: 0;
}
.medicine_facts_outer_blocknum:last-child {
    margin-right: 0;
}
.medicine_facts_outer_blocknum:before {
    position: absolute;
    z-index: 1;
    content: '';
    width: 160px;
    height: 160px;
    top: 40%;
    left: 50%;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-50%, -50%);

    background-color: rgba(238, 101, 101, 0.5);
}
.medicine_facts_outer_blocknum_number,
.medicine_facts_outer_blocknum_text {
    position: relative;
    z-index: 3;
}
.medicine_facts_outer_blocknum_number {
    color: $textColor;
    font-size: 3.7vmax;
    display: block;
    text-align: center;
}
.medicine_facts_outer_blocknum_text {
    color: $textColor;
    opacity: 0.8;
    font-size: $mdFont;
}

/* --------------------------------------- medicine_form ------------------------------------------------------------ */
.medicine_form {
    position: relative;
    z-index: 1;
    background-color: $blockDefaultColor;
    padding-top: 80px;
    padding-bottom: 0;
    margin-top: -50px;
}
.medicine_form:before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 140%;
    height: 415px;

    transform-origin: 0 0;
    transform: rotate(-3deg) translate(-20%, 0);
    background-color: rgb(238, 101, 101);
}
.medicine_form_form {
    position: relative;
    z-index: 4;
    width: 30%;
    left: 50%;
    transform: translate(-50%, -220px);
    box-shadow: 0px 0px 54px 0px rgba(49, 50, 71, 0.1);
    background-color: $blockDefaultColor;
    border-radius: 4px;
    padding: 50px 50px 40px;
}
.medicine_form_from_title {
    color: $buttonColor;
    font-size: $bigFont;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
}
.medicine_form_group {
    position: relative;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.medicine_form_group label{
    text-transform: uppercase;
    color: #c1c3c4;
    margin-bottom: 0;
    text-align: left;
}
.medicine_form_group label.fly_label{
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 0;

    transition: 0.4s top;
}
.medicine_form_group.focusing label.fly_label {
    top: 0;
}
.medicine_form_group .medicine_form_group_input {
    position: relative;
    background-color: transparent;
    z-index: 3;
    border: none;
    border-bottom: 2px solid $borderColor;
    color: $textSecondColor;
    padding: 10px 0;
    display: block;
    width: 100%;
    height: 50px;
    padding-bottom: 0;
}
.medicine_form_group .medicine_form_group_input:focus,
.medicine_form_group textarea:focus {
    outline: none;
}
.medicine_form_group textarea.medicine_form_group_input {
    height: 135px;
    resize: none;
}
.medicine_form_group label.error {
    position: absolute;
    bottom: -20px;
    left: 5px;
    color: $errorColor;
    font-size: $smFont;
    text-transform: initial;
}
.medicine_form_group.error label{
    color: $errorColor;
}
.medicine_form_group.error .medicine_form_group_input{
    color: $errorColor;
    border-color: $errorColor;
}
.medicine_form_group.valid label{

}
.medicine_form_group.valid .medicine_form_group_input{
    color: $successColor;
    border-color: $successColor;
}

/* ---------------------------------- medicine_slide_review --------------------------------------------------------- */
.medicine_slide_review {
    margin-top: -120px;
    position: relative;
    z-index: 10;
}
.medicine_slide_review_description {
    font-size: $bigFont;
    color: $textSecondColor;
}
.medicine_slide_review .slides {
    padding-top: 30px;
}
.medicine_slide_review_person {
    text-align: center;
}
.medicine_slide_review_person img {
    max-width: 135px;
    margin: 0 auto 15px;
}
