$textColor: #fff;
$errorColor: #a94442;
$successColor: #3c763d;
$textSecondColor: #000;
$textThirdColor: #b6bdc0;
$socColor: #838e95;

$blockDefaultColor: #fff;

$buttonColor: #66dcae;
$buttonSuccessColor: #66dcae;
$buttonDefaultBgColor: #fff;
$buttonDefaultColor: #010000;

$borderColor: #ced2d5;

$hoverColor: #a1d1d9;
$footerColor: #f0f6f8;

$backgroundTopColot: 33deg, #ee6363 17%, #ff8081 83%;
$backgroundGradient: 57deg, rgb(246,165,228) 0%, rgb(251,182,172) 99%;
$backgroundGradientBefore: 57deg, rgb(166,204,219) 0%, rgb(157,223,220) 99%;
$backgroundGradientAfter: -45deg, rgb(255,255,255) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0) 100%;
$backgroundSecond: rgba(206, 210, 213,.1);
$backgroundThird: rgba(210, 217, 223, 0.4);
$backgroundError: #f2dede;
$backgroundSuccess: #dff0d8;

// понял, что со шрифтами нужно по-другому все делать, но в этом проекте уже будет так)
$lgFont: 2.7vmax;
$bigFont: 1.65vmax;
$mdFont: 1vmax;
$smFont: 0.7vmax;

$sm-lgFont: 24px;
$sm-bigFont: 18px;
$sm-mdFont: 14px;
$sm-smFont: 10px;

$videoButtonColor: #66dcae;

body * {
    font-family: "Poppins", sans-serif;
}

* {
    font-size: $mdFont;
}

a {
    color: $textColor;
}

a:hover {
    color: $hoverColor;
}


/* --- helper styles --- */
@import "parts/helper";

/* --- parallax slider --- */
@import "parts/parallaxSlider";

/* --- header styles --- */
@import "parts/header";

/* --- main styles --- */
@import "parts/main";

/* --- footer styles --- */
@import "parts/footer";

/* --- animation --- */
@import "parts/animation";

/* --- responsive styles --- */
@import "parts/responsive";